@charset 'utf-8';
.help-tip{display:inline-block;position:relative;text-align:center;background-color:#BCDBEA;border-radius:50%;width:24px;height:24px;font-size:14px;line-height:26px;cursor:default}
.help-tip:before{content:'?';font-weight:700;color:#fff}
.help-tip:hover .help-p{display:inline-block;transform-origin:100% 0;-webkit-animation:fadeIn .3s ease-in-out;animation:fadeIn .3s ease-in-out}
.help-tip .help-p{display:none;text-align:left;background-color:#fff;color:#333;padding:20px;width:300px;position:absolute;border-radius:3px;box-shadow:1px 1px 1px rgba(0,0,0,.2);left: 0px;t;top: 40px;/* color: #FFF; */font-size:13px;line-height:1.4;z-index: 999;}
.help-tip .help-p:before{position:absolute;content:'';width:0;height:0;border:6px solid transparent;border-bottom-color:#fff;;left: 10px;top:-12px;}
.help-tip .help-p:after{width:100%;height:40px;content:'';position:absolute;top:-40px;left:0}
@-webkit-keyframes fadeIn{0%{opacity:0;transform:scale(.6)}
100%{opacity:100%;transform:scale(1)}
}
@keyframes fadeIn{0%{opacity:0}
100%{opacity:100%}