<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.modules.train.dao.AuthenticationMapper">
	
	<resultMap id="AuthenticationBean" type="com.training.modules.train.entity.AuthenticationBean">
		<result property="id" column="id" />
		<result property="franchisee_id" column="franchisee_id" />
		<result property="user_id" column="user_id" />
		<result property="name" column="name" />
		<result property="mod_name" column="mod_name" />
		<result property="mod_ename" column="mod_ename" />
		<collection property="user_ids" column="franchisee_id" select="queryuserids" javaType="ArrayList"></collection>
	</resultMap>
	
	<select id="querypastdueauthentication" parameterType="java.lang.Integer" resultMap="AuthenticationBean">
		SELECT 
			mf.id,
			mf.franchisee_id,
			mf.user_id,
			(SELECT name FROM trains.sys_user WHERE id = mf.user_id) AS name,
			m.mod_name,
			m.mod_ename
		FROM trains.train_model_franchisee mf
		LEFT JOIN trains.train_model m ON mf.mod_id = m.id
		WHERE 
			<if test="flag == 1">
				DATE_ADD(mf.auth_end_date, INTERVAL 1 DAY) <![CDATA[<]]> NOW() 
			</if>
			<if test="flag == 2">
				DATE_SUB(DATE_FORMAT(mf.auth_end_date,'%Y-%m-%d'), INTERVAL #{num} DAY) = DATE_FORMAT(NOW(),'%Y-%m-%d')
			</if>
		AND `status` = 0
	</select>
	
	<resultMap type="com.training.modules.train.entity.UserBean" id="UserBean">
		<result column="name" property="name"/>
		<result column="user_id" property="user_id"/>
	</resultMap>
	
	<select id="queryuserids" parameterType="java.lang.Integer" resultMap="UserBean">
		SELECT 
			pu.user_id AS user_id,
			(SELECT	name FROM trains.sys_user WHERE id = pu.user_id) AS name 
		FROM pc_role pr
		INNER JOIN pc_user_role pu ON pr.id = pu.pc_role_id
		WHERE pr.franchisee_id = #{franchisee_id} AND pr.ename = 'sjgly' AND pr.del_flag =0
	</select>
	
	<update id="updateauthenticationstatus" parameterType="java.lang.Integer">
		UPDATE trains.train_model_franchisee SET status = 1 WHERE id = ${id} AND DATE_ADD(auth_end_date, interval 1 DAY) <![CDATA[<]]> NOW() AND `status` = 0
	</update>
	
	<update id="updateprotocolstatus" parameterType="java.util.Map">
		UPDATE trains.supply_protocol_shop SET status = ${status} WHERE franchisee_id = ${franchisee_id}
	</update>
	
	<update id="updatepcmenustatus" parameterType="java.util.Map">
		UPDATE (SELECT * FROM trains.pc_role WHERE franchisee_id = ${franchisee_id}) r
		INNER JOIN trains.pc_menu_role mr ON r.id = mr.role_id
		INNER JOIN trains.pc_menu m ON mr.menu_id = m.id
		SET mr.`status` = ${status}
		WHERE m.is_pay = 1
	</update>
	
	<select id="queryuserlist" parameterType="java.lang.Integer" resultType="java.lang.String">
		SELECT id FROM trains.sys_user WHERE company_id = ${franchisee_id}
	</select>
	
	<delete id="delsupplyprotocol" parameterType="java.util.Map">
		DELETE FROM trains.supply_protocol_shop WHERE <if test="franchisee_id != null">franchisee_id = #{franchisee_id}</if><if test="user_id != null">user_id = #{user_id}</if>
	</delete>
	
</mapper>