<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.training.modules.train.dao.EntryMapper">


    <!-- 修改申请直播状态 -->
    <update id="upauditstatus" parameterType="java.lang.Integer">
	UPDATE 
		trains.train_live_audit set audit_status=5
	WHERE
		now() > DATE_ADD(bengtime,INTERVAL ${value} MINUTE)
		AND audit_status=2
    </update> 
 
    <select id="querylive_outTime" parameterType="java.lang.String" resultType="java.lang.Integer">
	SELECT 
		param_value
	FROM 
		trains.train_rule_param
	WHERE 
		param_key=#{live_outTime}
    </select>
   
   <!-- 修改申请直播状态 -->
    <update id="uplivestatus" parameterType="java.lang.Integer">
	UPDATE 
		trains.train_live_audit 
	SET audit_status=5
	WHERE
		now() > DATE_ADD(bengtime,INTERVAL ${value} MINUTE)
		AND id=#{auditid}
		AND audit_status = 4        
    </update>
    
    <select id="queryCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	SELECT 
		count(*)
	FROM trains.train_live_audit
	WHERE
		now() > DATE_ADD(bengtime,INTERVAL ${value} MINUTE)
		AND id=#{auditid}
		AND audit_status = 4        
    </select>
    
	<select id="queryRoomidandAuditid" resultType="com.training.modules.train.entity.LiveRoomidAndAuditid">
	SELECT 
		a.roomid,
		a.auditid,
		a.bengtime,
		a.proportion,
		u.mtmy_user_id,
		u.company_id
	FROM
	(SELECT
		ro.roomId AS roomid,
		au.id AS auditid,
		au.bengtime,
		au.userId,
		au.earnings_ratio AS proportion
	FROM
		trains.train_live_audit au
		LEFT JOIN trains.train_live_room ro ON au.userId = ro.userId
	WHERE
		audit_status = 4
		AND now() > DATE_ADD(bengtime,INTERVAL ${times} MINUTE)) a
		LEFT JOIN trains.sys_user u ON a.userId = u.id
	</select>
	
	<select id="getliveendbyid" parameterType="java.lang.Integer" resultType="com.training.modules.train.entity.EntrySopCastBean">
    SELECT 
	    au.title,
	    au.`desc`,
	    au.imgurl,
	    au.playpass,
	    au.bengtime,
	    au.id AS auditId,
	    au.userId,
	    ro.roomId AS liveId 
    FROM 
    	train_live_audit au
    	LEFT JOIN trains.train_live_room ro ON au.userId = ro.userId
    WHERE 
    	id=#{value} 
    	AND audit_status=4
    </select>
	
	<!-- 将直播信息存到数据库中 -->
	<insert id="LiveEnd" parameterType="map">
	INSERT INTO 
		trains.train_live_playback 
		(
		playbackId,
		userId,
		liveId,
		bengtime,
		endtime,
		thumbup,
		playNum,
		`name`,
		`desc`,
		imgurl,
		playpass,
		auditId
		)
	VALUES
		(
		#{playbackId},
		#{user_id},
		#{liveId},
		#{bengtime},
		#{overtime},
		0,
		0,
		#{name},
		#{desc},
		#{imgurl},
		#{playpass},
		#{auditId}
		)
	</insert>
	
	<!-- 当直播完毕后将审核表中的状态改为3   3：完成直播 -->
	<update id="alterstatus" parameterType="java.lang.Integer">
	UPDATE 
		trains.train_live_audit 
	SET 
		audit_status=3 
	WHERE 
		id=#{value} 
		AND audit_status=4
	</update>
	
	<update id="liveendtime" parameterType="java.lang.Integer">
    	UPDATE trains.train_live_audit SET endtime = now() WHERE id = #{value}
    </update>
    
    <update id="operatebackrecord">
		UPDATE trains.train_live_back_record SET del_flag = 1 WHERE now() > validity_date AND is_pay = 2
	</update>
	
	<update id="SyncIntegrals" parameterType="java.lang.String">
		UPDATE mtmydb.mtmy_user_accounts SET user_integral = #{integral} WHERE user_id = #{mtmy_id}
	</update>
    
    <update id="updateauditstatus" parameterType="java.lang.Integer">
    	UPDATE trains.train_live_audit SET audit_status = (CASE WHEN (SELECT count(*) FROM trains.train_live_playback WHERE auditId = #{auditid} AND is_show = 0) > 0 THEN 3 ELSE 5 END) WHERE id = #{auditid}
    </update>
    
    <!-- 通过id获取云币余额 -->
    <select id="queryintegralsnum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    	SELECT user_integral FROM mtmydb.mtmy_user_accounts WHERE user_id = #{send_mtmy_id}
    </select>
    
    <insert id="cloudcoinOrderlog" parameterType="map">
	INSERT INTO mtmydb.mtmy_sale_integrals_log
	(
		user_id,
		integral_type,
		integral_source,
		action_type,
		integral,
		remark,
		create_time
	)
	values
	(
		#{user_id},
		#{integral_type},
		#{integral_source},
		#{action_type},
		#{integral},
		#{remark},
		now()
	)
	</insert>
    
    <!-- 将平台获得云币加到平台账户 -->
    <select id="addofficeaccount" parameterType="map">
	    INSERT INTO trains.sys_office_account(
				office_id,
				amount,
				integral_earnings
			) VALUES (
				#{office_id},
				0,
				#{integral_earnings}
			) ON DUPLICATE KEY UPDATE integral_earnings = integral_earnings + #{integral_earnings};
    </select>
    <!-- 将云币划分结果信息入库 -->
    <select id="addproportionsmessage" parameterType="map">
    	UPDATE trains.train_live_audit 
    	SET 
	    	total_reward = #{total_reward},
	    	platform_earnings = #{platform_earnings},
	    	user_earnings = #{user_earnings} 
    	WHERE 
    		id = #{auditId}
    </select>
    
</mapper>